
/* uses the universal selector used to normalize box-sizing 
   for all browsers
   applies to all tags, all selectors, in the document
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
   */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}


body {
    
}
/* I knew you were TRBL when you walked in */

/* LAYOUT RULES */

header {
    width: 100%;
    padding-top: 20px;
    margin-right: auto;
    padding-bottom: 20px;
    margin-left: auto;
    text-align: center;
    background-color: #FF0DFF;
    position: fixed;

    
}

nav {

    
}



/* HEADER RULES */

header h1 {
    font-family: "bebas neue", serif;
    font-size: 40px;
    line-height: 30px;
    
}

header h1 a {
    
}

header nav {
    
    
}

/* NAV RULES */

nav ul {
    
    
}

nav li {
    font-family: "bebas neue", serif;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    margin-top: 10px;
    padding: 0 5px 0 5px;
    
}

/* SECTION RULES */

section {
    height: 1000px;    
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}


/* ARTICLE RULES */

article {
    position: absolute;
    top: 200px;
    left: 100px;
    height: 600px;
    width: 50%;
}    

/* INDIVIDUAL SECTION RULES */

    

#slide1  {
    background-image:url(../img/slide-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}



#slide2  {
    background-image:url(../img/slide-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#slide3 {
    background-image:url(../img/slide-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

	
#slide4{
    background-image:url(../img/slide-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

	

#slide5 {
    background-image:url(../img/slide-5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



































