    
    
    /* uses the universal selector used to normalize box-sizing 
   for all browsers
   applies to all tags, all selectors, in the document
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
   */

    * {
	   -moz-box-sizing: border-box;
	   -webkit-box-sizing: border-box;
	   box-sizing: border-box;
	   }


    body {
    
    }
    /* I knew you were TRBL when you walked in */

    /* LAYOUT RULES */

    header {
        width: 100%;
        padding-top: 15px;
        margin-right: auto;
        padding-bottom: 10px;
        margin-left: auto;
        text-align: center;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 4;
    
    }

    nav {
        width: 100%;
        padding-top: 40px;
        margin-right: auto;
        padding-bottom: 10px;
        margin-left: auto;
        text-align: center;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 3;
    
    }



    /* HEADER RULES */

    header h1 {
        font-family: "Oswald-Bold", sans-serif;
        font-size: 40px;
        line-height: 30px;

    
    }

    header h1 a:link, header h1 a:visited {
        padding: 0 16px;
        color: #000000;
        text-decoration: none;
 
    }


    header h1 a:hover, header h1 a:active {
        background-color: none;
        text-decoration: none;
        color:none;  
    
    
    }    

    /* NAV RULES */
    
   
    nav li {
        font-family: "Oswald-Light", sans-serif;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        margin-top: 10px;
        padding: 10px 5px 0 5px;
    
    
    }


    nav a:link, nav a:visited {
        padding: 0 16px;
        color: #000000;
        text-decoration: none;

    }

    nav a:hover, nav a:active {
        background-color: none;
        text-decoration: none;
        color:#FFBBF6;
    
    }

    /* SECTION RULES */

    section {
        height: 1000px;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        position: relative;
        z-index: 1;
    }


    /* ARTICLE RULES */

    article {
        position: absolute;
        top: 200px;
        height: 600px;
        z-index: 2;

    
    }   


    /* INDIVIDUAL SECTION RULES */

    

    #slide1  {
        background-image:url(../img/mothorchidsmed.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #000000;
    
        

    }



    #slide2  {
        background-image:url(../img/dendroorchidmed.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #000000;
    }



    #slide3 {
        background-image:url(../img/ladysliporchidsmed.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #000000;
    }



    #slide4 {
        background-image:url(../img/cymorchidsmed.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #000000;
    }



    /* ARTICLE RULES */

    article h1 {
        background-color: none;
        font-family: "Oswald-Light", sans-serif;
        font-size: 36px;
        line-height: 30px;
        color: #FFBBF6;
        width: 50%;
        margin: 0 10px 10px 20px;
        padding: 10px;

    
    }

    article p {
        background: #FFFFFF;
        opacity: 0.7;
        font-family: "minion-pro", serif;
        font-size: 16px;
        line-height: 18px;
        width: 50%; 
        margin-left: 20px;
        margin-right: 10px;
        text-indent: 20px;
        color: #000000;
        float: left;

    }